CRM-Fall23/Client.Manager/bin/
CRM-Fall23/Client.Manager/obj/
CRM-Fall23/Service.FileManager/bin/
CRM-Fall23/Service.FileManager/obj/
CRM-Fall23/Service.ManagerCRM/bin/
CRM-Fall23/Service.ManagerCRM/obj/
CRM-Fall23/Service.Schedule/bin/
CRM-Fall23/Service.Schedule/obj/
CRM-Fall23/.idea
CRM-Fall23/.vs