.wrapper {
  min-width: 1440px;
  min-height: 910px;
  overflow: hidden;
  background: var(--conditional-page-background, #f0f2f5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title-logo {
  text-align: center;
  gap: 12px;
}

.verify-form {
  position: absolute;
  display: flex;
  min-width: 398px;
  height: 372px;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.verify-form-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  color: var(--character-title-85, rgba(0, 0, 0, 0.85));

  /* H5/medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
