.dashboard {
  margin: 20px;
  width: 100%;
  margin-top: 20px;
  margin-left: 16px;
  margin-right: 16px;
}

.card {
  margin: 20px;
}

.CardBelow {
  margin-top: 20px;
}

.chart {
  margin-top: 20px;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
}

.selectBoxDate {
  width: 200px;
  margin: 10px 0;
}

.selectBoxParking {
  width: 200px;
  margin-bottom: 20px;
}
